<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <h1>Menu du jour</h1>
<ul style="list-style-type:none">
    <li *ngFor="let plat of platsDuJour">
        <ion-card  [routerLink]="['/plat-detail', plat.key]" routerDirection="forward">
            <ion-img *ngIf="plat.values.image" src="{{ plat.values.image }}" [alt]="plat.values.image"></ion-img>
            <ion-card-header>

                <ion-card-title>{{ plat.values.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{ plat.values.type_dish }}</p>
            </ion-card-content>
        </ion-card>
        <ion-button color="light" outline [routerLink]="['/edit-page', plat.key]" routerDirection="forward"> <!--<fa-icon [iconProp]="faEllipsisH"></fa-icon>--> modifier</ion-button>
        <ion-button color="danger" outline (click)="deletePlat(plat.key)"> <!--<fa-icon [iconProp]="faEllipsisH"></fa-icon>--> supprimer</ion-button>
    </li>
</ul>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button href="/add-page">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
